@use "colours";
@use "fonts";

@mixin article-colour($colour) {
  .category {
    a:hover {
      color: $colour;
    }
  }
  .title {
    color: colours.$black;
    a:hover {
      color: colours.$black;
      border-bottom: 5px solid $colour;
    }
  }
  .post-summary-social {
    color: $colour;
    svg {
      fill: $colour;
    }
  }
  .avatar-metadata {
    a:hover {
      color: $colour;
    }
  }
}

.post-summary {
  .category {
    border-radius: 8px;
    padding: .2em 1em;
    line-height: 32px;
    white-space: nowrap;

    &.active,
    &:hover {
      background: colours.$teal;
      color: colours.$white;
    }
  }

  .title {
    font-size: fonts.$baseFontSize * 1.5;
    line-height: 1.4;
    > a {
      margin-right: 1.5rem;
    }
  }

  .post-summary-social {
    font-size: 1rem;
    display: inline-block;
    > .dq-comment-count {
      margin-left: 0.5rem;
    }
  }

  @include article-colour(colours.$teal);
  .category {
    background: colours.$teal;
    color: white;
    &.active,
    &:hover {
      color: black;
    }
  }
  &.pink {
    @include article-colour(colours.$pink);
    .category {
      background: colours.$pink;
      color: white;
      &.active,
      &:hover {
        color: black;
      }
    }
  }
  &.orange {
    @include article-colour(colours.$orange);
    .category {
      background: colours.$orange;
      color: white;
      &.active,
      &:hover {
        color: black;
      }
    }
  }
  &.yellow {
    @include article-colour(colours.$yellow);
    .category {
      background: colours.$yellow;
      color: black;
      &.active,
      &:hover {
        color: white;
      }
    }
  }
}
