{%- assign author-id = include['author-id'] -%}
{%- assign author = site.data.authors.authors[author-id] -%}
<div class="author-summary-wrapper">
  <div class="author-information cell">
    {%- include_cached author_picture.html author=author author-id=author-id -%}
    <a rel="author" href="{{- site.baseurl -}}/{{- author-id -}}">{{- author.name -}}</a>
  </div>
  <div class="cell author-summary">
    {%- assign pre_tagged = author['author-summary'] | starts_with: '<' -%}
    {%- if pre_tagged -%}
      {{- author['author-summary'] -}}
    {%- else -%}
      <p>
        {{- author['author-summary'] -}}
      </p>
      <a href="{{- site.baseurl -}}/{{- author-id -}}">More from {{ author.name | split: ' ' | first }}</a>
      <hr style="border: none; border-top: 1px solid #ccc; margin-top: 10px; margin-bottom: 0;">
    {%- endif -%}
  </div>
</div>
