{%- assign page = include.page -%}
{% capture shape %}{% include post_shape.html post=page %}{% endcapture %}
{% assign shape = shape | strip %}
{%- case shape -%}
    {%- when 'shape1' -%}
        {% include default_header_shape_one.html page=page %}
    {%- when 'shape2' -%}
        {% include default_header_shape_two.html page=page %}
    {%- when 'shape3' -%}
        {% include default_header_shape_three.html page=page %}
    {%- when 'shape4' -%}
        {% include default_header_shape_four.html page=page %}
    {%- else -%}
        {% include default_header_shape_one.html page=page %}
{%- endcase -%}
