{%- if include.categoryName == 'Latest Articles' -%}
  {%- assign featuredPosts = site.tags.featured -%}
{%- else -%}
  {%- assign featuredPosts = '' | split: '' -%}
  {%- assign toFilter = site.categories[include.categoryName] %}
  {%- for post in toFilter -%}
    {%- if post.tags contains 'featured' -%}
      {%- assign featuredPosts = featuredPosts | push: post -%}
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}
{%- assign numPosts = featuredPosts | size -%}
{%- if numPosts > 0 -%}
  <div class="featured-posts grid-x grid-margin-x grid-margin-y">
    {% assign randIdx = 'now' | date: '%N' | modulo: 4 %}
    {%- if page.url == '/' or page.url == '/index.html' -%}
      {%- assign postsToShow = featuredPosts | slice: 0, 2 -%}
    {%- else -%}
      {%- assign postsToShow = featuredPosts | slice: 0, 1 -%}
    {%- endif -%}
    {%- for post in postsToShow -%}
      {%- assign colourIndex = randIdx | plus: forloop.index0 -%}
      <div
        class="featured-post {% include post_colour.html post=post postIndex=colourIndex %} cell large-12 grid-x"
      >
        {%- include featured_post.html post=post -%}
      </div>
    {%- endfor -%}
  </div>
{%- endif -%}
