---
title: Beyond the Hype Podcast
layout: default
summary: Beyond the Hype is a monthly podcast from the Scott Logic team where we cast
  a practical eye over what is new and exciting in software development - everything from 
  Kafka to Kubernetes, AI to APIs, microservices to micro-frontends.
image: "/assets/blog.png"
beyond_the_hype_apple_url: "https://podcasts.apple.com/dk/podcast/beyond-the-hype/id1612265563"
beyond_the_hype_spotify_url: "https://open.spotify.com/show/2BlwBJ7JoxYpxU4GBmuR4x"
---

{% assign posts = site.categories["Podcast"] %}
{% if posts %}
  {% assign posts = posts | sort: 'date' | reverse | uniq %}
{% endif %}
{% include post_index.html posts=posts categoryName="Podcast" %}
