---
layout: default
---
{%- assign author = site.data.authors.authors[page.author] -%}
{%- assign authorUsername = page.author -%}

<div class="default-post {% include post_colour.html post=page %} grid-container">
  {%- if page.podcast_embed_url -%}
  {%- include podcast_header.html page=page -%}
  {%- else -%}
  {%- include default_post_header.html page=page -%}
  {%- endif -%}

  <div class="grid-x grid-margin-x grid-padding-y">
    <div class="cell primary-meta-data large-1 large-offset-1 grid-x">
      <div class="author-information cell medium-10 small-9 hide-for-large">
        {%- include_cached author_picture.html author=author -%}
        <a rel="author" href="{{- site.baseurl -}}/{{- authorUsername -}}">{{- author.name -}}</a>
        {%- for contributorId in page.contributors -%}
        ,
        {%- include_cached author-link.html author-id=contributorId -%}
        {%- endfor -%}
      </div>
      {%- include_cached social.html author=author -%}
    </div>
    <div class="cell large-6">
      <div class="cell post-content">{{- content -}}</div>

      {%- if site.data.related contains post.url -%}
      {%-
      include read_more.html
      author=author authorUsername=authorUsername page=page
      -%}
      {%- assign related = site.data.related[post.url] -%}
      {%- assign posts = site.posts | where_exp: 'item', 'item.url == related[0]' -%}
      {%- include post_summary_list.html posts=posts hideCategory=true -%}
      {%- assign posts = site.posts | where_exp: 'item', 'item.url == related[1]' -%}
      {%- include post_summary_list.html posts=posts hideCategory=true -%}
      {%- endif -%}
      {%- include recruitment.html page=page -%}
    </div>
    <div class="side-lists cell large-3 large-offset-1 show-for-large grid-padding-y">
      {%- include_cached author_summary.html author-id=page.author -%}
      {%- for contributorId in page.contributors -%}
      {%-
      include_cached author_summary.html
      author-id=contributorId
      -%}
      {%- endfor -%}
      <div class="back cell">
        <a href="{{- site.baseurl -}}/index.html">Back to all posts</a>
      </div>
    </div>
  </div>
</div>

{%- include site-footer.html -%}